################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E-Learning/v17
/.vs/E-Learning/FileContentIndex
/E-Learning.Application/obj/Debug/net8.0/E-Learning.Application.AssemblyInfoInputs.cache
/E-Learning.Application/obj/Debug/net8.0/E-Learning.Application.AssemblyInfo.cs
/.vs/ProjectEvaluation/e-learning.projects.v8.bin
/.vs/ProjectEvaluation/e-learning.metadata.v8.bin
/.vs/E-Learning/DesignTimeBuild/.dtbcache.v2
/E-Learning.Application/bin/Debug/net8.0/E-Learning.Application.deps.json
