################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E-Learning/v17
/.vs/E-Learning/FileContentIndex
